<% provide(:title, "アバウト") %>
<h1>アバウト</h1>
<p>
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>は
  <a href="http://www.railstutorial.org/book">本</a>と
  <a href="http://screencasts.railstutorial.org/">マル秘話</a>がありますよ。
  このサイトは<a href="http://rubyonrails.org/">Ruby on Rails</a>のサンプルアプリですよ。
</p>
