<% provide(:title, "ヘルプ") %>
<h1>ヘルプ</h1>
<p>
  Rails Tutorialのヘルプは
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>にあります。
  本は<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a>にあります。
</p>
