<div class="center jumbotron">
  <h1>サンプルアプリへようこそ</h1>

  <h2>
    このホームページは<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    のためのサンプルアプリだよ。
  </h2>

  <%= link_to "ʅ（´◔౪◔）ʃ", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
