<h1>サンプルアプリ</h1>

<p><%= @user.name %> さま、</p>

<p>サンプルアプリをご利用いただきありがとうございます。
以下のURLをクリックしていただくと、パスワードの再設定が行えます！
</p>

<%= link_to "パスワードの再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>※URLの有効期限は2時間ですのでお気をつけください</p>

<p>
  もしパスワードの再設定に心当たりのない場合は、このメールは無視してください。
  無視した場合、パスワードは変更されません。
</p>
